body {
	background-color: black;
	/* background-image: url("logo.png"); */
}

h1 {
	color: white;
	font-family: calibri;
	/* padding: 2px; */
	/* margin-bottom: 10px; */ */
}

h2 {
	color: dimgray;
	font-family: calibri;
	/* padding: 2px; */
	/* margin-bottom: 1px; */ */
}

p {
	color: dimgray;
	font-family: calibri	
}


img {
	border-radius: 8px;
	max-width: 100%;
	height: auto;
}

#pageMenu {
	
	background-color: transparent;
	
}


div {
	font-family: calibri;
	font-size: 100%;
	/* border: 2px solid red; */
	background-color: transparent;
	margin-bottom: 0px;
	
}

#chartdiv1 {
	margin-top: 50px; /*need extra margin for the first div to make room for the topnav menu */
	/* background-image: url("../settings/general/logo_tse.png"); */
	
}

#chartAeroCz1 {
	
	background-image: url("../../aero_Cz.png");
	background-size: 420px 390px;
	background-repeat:no-repeat;
	background-position: left 67px top 35px;

}

#chartAeroCz2 {
	
	background-image: url("../../aero_Cz.png");
	background-size: 420px 390px;
	background-repeat:no-repeat;
	background-position: left 67px top 35px;

}

#chartAeroCz3 {
	
	background-image: url("../../aero_Cz.png");
	background-size: 420px 390px;
	background-repeat:no-repeat;
	background-position: left 67px top 35px;

}

#chartAeroCz4 {
	
	background-image: url("../../aero_Cz.png");
	background-size: 420px 390px;
	background-repeat:no-repeat;
	background-position: left 67px top 35px;

}
	
.topnav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  z-index: 9999;

  top: 0;
  left: 0;
  width: 100%;
  /* padding: 5px; */
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 2px 12px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: white;
  color: black;
  /* font-size: 200%; */
}

.topnav a.active {
  background-color: dimgray;
  color: black;
  font-size: 200%;
}
	
</style>

